# Ignore directories where gems are installed
bundle/
vendor/bundle/
gems/
.bundle/

# Allow vendor/cache/ (contains .gem files for air-gapped installations)
!vendor/cache/

# Ignore test files
test/log
test/test.db
*.db

# RSpec
.rspec_status
coverage/

# Rubocop
.rubocop-*

# Ignore emacs backup files
*~
**/#*#
