# Ignore directories where external libraries get built and installed.
build/
lib/SystemTimer/
lib/libxml-ruby/
lib/libxml2/
lib/open4/
lib/sqlite3-ruby/
lib/sqlite3/

# Ignore test files
test/log
test/test.db

# Ignore emacs backup files
*~
**/#*#
